# Ignore compiled python files.
*.pyc
__pycache__/
*.cache

# Ignore virtual environment directories.
venv/
venv
new/

# Ignore log files.
logs/

# Ignore sensitive configuration files.
config.ini
.env

# Ignore system and IDE files.
.idea
.idea/

# .iml files should be ignored, if they exist
*.iml

# Files that store user-specific settings
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/inspectionProfiles
*.iws
**/workspace.xml
**/tasks.xml
#./.idea

# SonarLint plugin
.idea/sonarlint

# Uncomment the following line if you use Maven
# .idea_modules/

# Sublime Text
*.sublime-project
*.sublime-workspace
*.sublime-settings

# Folder config
.sublime/

# Sublime Text 3 Cache
Cache/
# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Jupyter Notebook autosave files
.ipynb*

# Jupyter Notebook workspace and runtime files
.jupyter/

# Jupyter Notebook logs
.logs/
# Visual Studio Code
.vscode/

# Visual Studio Code settings
settings.json

# Visual Studio Code workspace files
*.code-workspace

# Visual Studio Code tasks
.vscode-tasks.json

# Visual Studio Code launch configurations
.vscode-launch.json


# User-specific stuff:
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


# *.iml
# modules.xml

# Files with data.
*.csv
output_files/
